* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    overflow-x: hidden;
}

main {
    margin-top: 63px;
    width: 100%;
    background-color: #00001c;
    overflow-x: hidden;
}

#talent {
    background: -webkit-linear-gradient(top, #00001c, #1b3766);
}

#main-contact {
    background: -webkit-linear-gradient(top, #0d1431, #5f93ba);
    overflow: hidden;
}

#qa-main {
    background: -webkit-linear-gradient(#00001c, #203d75, #00001c);
}

.navbar {
    background: -webkit-linear-gradient(left, #d14ece, #51c8ff);
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}

.navbar_container {
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    z-index: 1;
    width: 100%;
    margin: 1.5% auto;
    padding: 0 2%;
}

.navbar_logo_container {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

#navbar_logo {
    width: 28%;
}

#navbar_title {
    color: #fff;
    margin-left: 10px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover {
    color: #51c8ff;
    transition: all 0.2s ease;
}

.navbar_links_icon {
    display: none;
}

footer {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    position: relative;
    z-index: 999;
}

.footer_links {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}

.footer_links:hover {
    color: #d14ece;
    transition: all 0.2s ease;
}

.footer-ul {
    display: inline-flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
}

#footer-logo {
    margin: 1rem 0;
    width: 12%;

}

.page-title {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    width: 40%;
    margin: 1% auto;
    text-decoration: underline;
}

.page-sub-title {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    width: 75%;
    margin: auto;
    background: -webkit-linear-gradient(left, #141168, #022c7e);
}

#info-title {
    transform: translateY(1.8rem);
    background-color: #00001c;
    animation: flicker-rose 2.5s infinite alternate;
    font-size: 3rem;
}

#info-contents {
    color: #fff;
    font-size: 1rem;
    width: 90%;
}

#info-section {
    width: 70%;
    margin: 2% auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    border: #d14ece double 3px;
}

.qa-question{
    list-style: none;
}

.qa-content {
    color: #fff;
    width: 75%;
    margin: 2% auto 0 auto;
    font-size: 2rem;
    background: #0641cd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.qa-answear {
    color: #fff;
    width: 75%;
    font-size: 2rem;
    margin: 2% auto 0 auto;
    font-size: 2rem;
    background: #0641cd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

.qa-answear.active {
    max-height: 300px;
    transition: max-height 0.8s ease-out;
    font-size: 2rem;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
  }

#member-pic {
    border: #51c8ff 3px solid;
    position: relative;
    display: inline-flex;
    left: 50%;
    transform: translate(-50%);
    padding: 0.3rem;
    margin: 1rem auto;
}

.member-img {
    display: inline-block;
    padding: 0.2rem;
    width: 33.5%;
    height: auto;
    max-width: 300px;
}

.member-content-box {
    color: #fff;
    background: rgba(83, 83, 83, 0.5);
    width: fit-content;
    margin: 0 0.3rem;
    border: #d14ece double 4px;
    font-size: 1.4rem;
}

#history {
    padding: 2% 1%;
    margin: 2% auto 0 auto;
    width: 80%;
        
}

.history-right {
    width: 40%;
    margin-left: 10%;
}

.history-left {
    width: 40%;
    margin-left: 10%;
    margin-top: 2.5%;
}

#history-sub {
    margin-top: 2.5%;
}

#member-content-right-box {
    border: #51c8ff double 4px;
}

#member-content-up {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
}

#member-content-down {
    display: flex;
    justify-content: center;
}

.member-name {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}

.member-desc {
    padding: 0.5rem 0.5rem;
}

.member-history {
    display: flex;
}

.name-keireki {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 10%;
}

#contact-sub-title {
    background: none;
    font-size: 1.8rem;
}

.contact-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-colum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    font-size: 2rem;
    margin-top: 1%;
}

.contact-content-box {
    background: rgba(0, 0, 0, 0.7);
    display: inline-grid;
    max-width: 400px;
    justify-self: left;
    width: 90%;
}

.contact-img {
    display: -ms-inline-grid;
    justify-self: right;
}

#left {
    justify-self: left;
    transform: translateX(-1.9%);
}

#right {
    justify-self: right;
    transform: translateX(1.9%);
}

#step {
    height: max-content;
    padding-top: 10%;
    padding-left: 5%;
}

#step-txt {
    height: max-content;
    font-size: 1.5rem;
    padding-left: 5%;
    margin-top: -10%;
}

.contact {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#contact-title {
    text-align: center;
    color: white;
    font-size: 2rem;
    background: black;
    width: 70%;
    margin-top: 2%;
}

.contact-box {
    display: flex;
    transition: transform 2s ease;
    transform: translateY(0);
    width: 100%;
}

.contact-box.active-left {
    transform: translateY(100%);
    transition: transform 2s ease;
}

.contact-box.active-right {
    transform: translateY(100%);
    transition: transform 2s ease;
}

.normal {
    width: 50%;
    background: url(images/step3.jpg) no-repeat;
    background-size: cover;
    max-height: 500px;
    height: 50vw;
    display: flex;
    align-items: center;
}

#normal-right {
    background: url(images/laptop.jpg) no-repeat;
    background-size: cover;
}

.normal-box {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background: rgba(0,0,0,0.7);
    height: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contact-box-title {
    color: #fff;
    font-size: 2.4rem;
}

.contact-box-btn {
    color: black;
    border-radius: 50px;
    width: 8rem;
    height: 3.3rem;
    background: #bdfffe;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

#btn-right {
    background: #ffb7ff;
}

.youtube {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px double firebrick;
}

.youtube:hover {
    color: red;
    transition: ease 0.6s;
}

#live-haishin {
    border-bottom: 3px double blueviolet;
}

#live-haishin:hover {
    color: violet;
    transition: ease 0.6s;
}

#live-media {
    border-bottom:3px double blue;
}

#live-media:hover {
    color: aqua;
    transition: ease 0.6s;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


.fa.fa-youtube {
    background: #bb0000;
    color: white;
    }

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    }

.liver-background {
    background: #172450;
    margin: 3% 3%;
    width: 40%;
    max-width: 300px;
    min-height: 500px;
    height: auto;
}

.liver-card {
    background: rgba(83, 83, 83, 0.5);
    width: 100%;
    max-width: 300px;
    max-height: 500px;
    height: 100%;
    transform: translate(-20px, -20px);
    padding-top: 90%;
}

.liver-txt {
    font-size: 0.9rem;
}

#talent-sec {
    width: 70%;
    margin: 3% auto;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;    
}

#talent-sub {
    background: linear-gradient(270deg, rgba(2,80,162,1) 10%, rgba(23,47,93,0.1) 100%);
}

.liver-img {
    position: absolute;
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    width: 80%;
    left: 50%;
    top: 3%;
    transform: translate(-50%);
    height: auto;
    border: solid #d14ece 2px;
}

.liver-name {
    background: black;
    width: 60%;
    height: 2.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transform: translateY(-50%);
}

#talent-no-face {
    background: rgba(40, 70, 140, 0.9);
    margin: 1% auto;
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.no-face {
    margin: 1.5% 0;
    color: #fff;
    text-decoration: none;
}


/*old style code*/

.top {
    width: 100%;
    height: auto;
    visibility: hidden;
}

#first-content {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative;
    background: url(images/top-logo.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

#second-content {
    padding-bottom: 3%;
    width: 100%;
    position: relative;
    background: -webkit-linear-gradient(bottom, #00001c, #1f3f70);
    margin: auto;
    height: auto;

}

.news-content-txt {
    font-size: 3rem;
    margin: 3%;
}

#news-content::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(34,91,141,1) 0%, rgba(34,91,141,0.1) 30%);

}

#news-content {
    overflow: hidden;
    border: #d64fd0 solid 0.2vw;
    height: auto;
    background: rgba(34, 91, 141, 0.7);
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    max-height: 330px;
    min-height: 150px;
    perspective: 450px;
    z-index: 999;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      box-shadow:
        0 0 1px #fff,
        0 0 5px #fff,
        0 0 9px #fff,
        0 0 20px #d64fd0,
        0 0 30px #d64fd0,
        0 0 40px #d64fd0,
        0 0 50px #d64fd0,
        0 0 100px #d64fd0;
    }
    20%, 24%, 55% {       
      box-shadow: none;
    }
  }

.news-wrapper {
    position: relative;
    width: 100%;
    animation:  scroll 20s linear infinite;
}

#news {
    padding-top: 2%;
    padding-bottom: 1%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    width: 30%;
    font-size: 2rem;
    animation: flicker-rose 2.5s infinite alternate;
}

#line1 {
    position: absolute;
    transform: translateY(10vw) rotate(-20deg); 
    width: 75%;
    animation: line-rose 2.5s -10s infinite alternate;
}

#line2 {
    position: absolute;
    transform: translate(10vw, -10vw) rotate(-20deg); 
    width: 75%;
    z-index: 500;
    animation: line-blue 3s -100s infinite alternate;
}

#line3 {
    position: absolute;
    transform: rotate(20deg); 
    width: 75%;
    z-index: 500;
    animation: line-blue 4s -100s infinite alternate;
}

#line4 {
    position: absolute;
    transform: translateY(30vw) rotate(-40deg); 
    width: 100%;
    z-index: 500;
    animation: line-rose 6s -100s infinite alternate;
}

#line5 {
    position: absolute;
    transform: translate(-10vw, 10vw) rotate(40deg); 
    width: 100%;
    z-index: 500;
    animation: line-rose 5s -100s infinite alternate;
}

#line6 {
    position: absolute;
    transform: translate(30vw, 0vw) rotate(-30deg); 
    width: 60%;
    z-index: 500;
    animation: line-blue 8s -100s infinite alternate;
}

#line7 {
    position: absolute;
    transform: translate(-40vw, -35vw) rotate(50deg); 
    width: 100%;
    z-index: 500;
    animation: line-rose 4.4s -100s infinite alternate;
}

#line8 {
    position: absolute;
    transform: translate(0vw, 0vw) rotate(-30deg); 
    width: 100%;
    z-index: 500;
    animation: line-blue 11s -100s infinite alternate;
}

.news-column {
    color: #fff;
    margin-top: 5%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes scroll {
    from { transform: translateY(-1850px) translateZ(-700px) rotateX(20deg) }
    to { transform: translateY(0px) translateZ(0px) rotateX(25deg)}
}

.third-title-up {
    position: absolute;
    top: 5%;
    width: 90%;
    color: #fff;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
}

.third-title-bottom {
    position: absolute;
    top: 10%;
    font-size: 2rem;
    left: 50%;
    color: #fff;
    transform: translate(-50%);
    text-align: center;
    z-index: 900;
}

.line {
    border: #53c8fe solid 0.2vw;
    width: 80%;
    height: 50%;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%);
}

#first-line {
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    height: 60%;
    z-index: 999;
}

@keyframes line-blue {
    0%, 15%, 23%, 29%, 57%, 75%, 100% {
      box-shadow:
        0 0 1px #fff,
        0 0 5px #fff,
        0 0 9px #fff,
        0 0 20px #51c8ff,
        0 0 30px #51c8ff,
        0 0 40px #51c8ff,
        0 0 50px #51c8ff,
        0 0 100px #51c8ff;
    }
    22%, 24%, 54% {       
      box-shadow: none;
    }
  }

@keyframes line-rose {
    0%, 15%, 23%, 29%, 57%, 75%, 100% {
      box-shadow:
        0 0 1px #fff,
        0 0 5px #fff,
        0 0 9px #fff,
        0 0 20px #d64fd0,
        0 0 30px #d64fd0,
        0 0 40px #d64fd0,
        0 0 50px #d64fd0,
        0 0 100px #d64fd0;
    }
    22%, 24%, 54% {       
      box-shadow: none;
    }
  }

@keyframes flicker-rose {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 1px #fff,
        0 0 5px #fff,
        0 0 9px #fff,
        0 0 20px #d64fd0,
        0 0 30px #d64fd0,
        0 0 40px #d64fd0,
        0 0 50px #d64fd0,
        0 0 100px #d64fd0;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    box-shadow:
      0 0 1px #fff,
      0 0 3px #fff,
      0 0 7px #fff,
      0 0 20px #d64fd0,
      0 0 30px #d64fd0,
      0 0 40px #d64fd0,
      0 0 50px #d64fd0,
      0 0 100px #d64fd0;
  }
  0% {
    /* Smaller blur radius */
    box-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 7px #d64fd0,
      0 0 25px #d64fd0,
      0 0 35px #d64fd0,
      0 0 40px #d64fd0,
      0 0 50px #d64fd0;
  }
}

#second-line {
    top: 5%;
    transform: translateX(-48%);
    width: 100%;
    height: 100%;
    text-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 20px #51c8ff,
        0 0 30px #51c8ff,
        0 0 40px #51c8ff,
        0 0 50px #51c8ff,
        0 0 100px #51c8ff;
}

#dare {
    color: #ff00fe;
}

#haishoku {
    color: #51c8ff;
}

#third-content {
    position: relative;
    width: 100%;
    margin: auto;
    height: 50%;
    padding-bottom: 10%;
}

.third-img {
    width: 45%;
    height: 100%;
    max-height: 454px;
}

#third-pic {
    width: 100%;
    margin: auto;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}

#third-txt {
    color: #fff;
    width: 90%;
    font-size: 2rem;
    position: absolute;
    display: inline;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#pic2 {
    margin-top: 28rem;
}

.top-button {
    font-size: 2.3rem;
    background: -webkit-linear-gradient(left, #d14ece, #51c8ff);
    color: white;
    width: auto;
    height: auto;
    border: 0.2vw solid #b6b2b1;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 18%;
    bottom: 3%;
}

#fourth-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 60rem;
    margin: auto;
}

#blue-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 50%;
    background: -webkit-linear-gradient(top, #00001c, #101E45);
}

#rose-left {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 50%;
    background: -webkit-linear-gradient(top, #00001c, #36154B);
}

#fourth-img {
    z-index: 900;
    width: 100%;
    height: 35rem;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(#133A93, #236ADE, #01013C);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#shozo {
    position: absolute;
    width: max-content;
    top: 13%;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    color: #fff;
    font-size: 3rem;
    border: 5px solid #51c9fe;
    background-color: rgba(120, 120, 120, 0.7);
    padding: 1%;
    z-index: 950;
    animation: flicker-blue 2.5s infinite alternate;
}

@keyframes flicker-blue {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      box-shadow:
        0 0 1px #fff,
        0 0 3px #fff,
        0 0 5px #fff,
        0 0 10px #51c9fe,
        0 0 20px #51c9fe,
        0 0 30px #51c9fe,
        0 0 40px #51c9fe,
        0 0 80px #51c9fe;
    }
    20%, 24%, 55% {       
      box-shadow: none;
    }
  }

.fourth-livers-img {
    width: 100%;
    border-radius: 1rem;
    height: auto;
    position: relative;
    z-index: 10;
    box-shadow: 1vw 1vw 0px rgb(100, 100, 100, 0.7);
}

.liver-img-anchor {
    margin: 0 2%;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-liver-span {
    font-size: 2.5rem;
    color: #fff;
    z-index: 1000;
    position: absolute;
    display: inherit;
    bottom: -30%;
    width: max-content;
    padding: 0 1%;
    transform: translateY(25%);
    background: rgba(120, 120, 120, 0.7);
}

.fourth-liver-span-down {
    font-size: 2.5rem;
    color: #fff;
    z-index: 1000;
    position: absolute;
    display: inherit;
    width: max-content;
    bottom: -10%;
    padding: 0 1%;
    transform: translateY(25%);
    background: rgba(120, 120, 120, 0.7);
}

.about-background {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
}

.about-left, .about-right {
    width: 60%;
    height: auto;
    margin: 2% 0;
    max-width: 600px;
    max-height: 500px;
    box-shadow: 10px 10px 0px #000062;
}

#box-left {
    border: #51c9fe double 4px;

}

.about-title {
    text-align: center;
    font-size: 1.8rem;
}

.about-box {
    color: #fff;
    background: rgba(83, 83, 83, 0.5);
    width: fit-content;
    margin: 0 0.3rem;
    border: #d14ece double 4px;
    font-size: 1.4rem;
    display: inline;
    padding: 1%;
}

.content-background {
    background-image: linear-gradient(#010220, #1e3e6f, #00001c);
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#gender-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gender-span {
    width: 25%;
}

.corporation-form {
    display: inline-grid;
    background: #dbeeff;
    grid-template-columns: 30% 30%;
    align-items: center;
    justify-content: space-evenly;
    transition: bottom 2s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
}

.corporation-form.active {
    bottom: 0;
    transition: bottom 2s ease;
}

.liver-form{
    display: inline-grid;
    background: #dbeeff;
    grid-template-columns: 35% 30%;
    align-items: center;
    justify-content: space-evenly;
    transition: bottom 2s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -220%;
    justify-items: start;
    align-content: center;
}

.liver-form.active {
    bottom: 0;
    transition: bottom 2s ease;
}

.contact-box-wrap {
    display: flex;
    height: 100%;
    position: relative;
}

input {
    border-radius: 0;
    border: 1px solid rgba(83, 83, 83, 0.5);
    height: 2rem;
}

.form-span {
    font-size: 0.8rem;
}

label {
    font-size: 0.9rem;
}

/*test*/

#cross {
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
   transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    right: 2%;
    top: 2%;
    cursor: pointer;
 }
 
 #cross:before, #cross:after {
   content: "";
   position: absolute;
   z-index: -1;
   background: black;
 }
 
 #cross:before {
   left: 50%;
   width: 20%;
   margin-left: -15%;
   height: 100%;
 }
 
 #cross:after {
   top: 50%;
   height: 20%;
   margin-top: -15%;
   width: 100%;
 }

.animation {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    max-height: 280px;
    top: 20%;
    z-index: 10000;
    align-items: center;
    justify-content: space-around;
}

.animation-2 {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    max-height: 280px;
    top: 20%;
    z-index: 10000;
    align-items: center;
    justify-content: space-around;
}

.animation a:nth-child(odd) {
    transform: translateY(20%);
    box-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 7px #d64fd0,
      0 0 25px #d64fd0,
      0 0 35px #d64fd0,
      0 0 40px #d64fd0,
      0 0 50px #d64fd0;
}

.animation a:nth-child(even) {
    transform: translateY(-20%);
    box-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 20px #51c8ff,
        0 0 30px #51c8ff,
        0 0 40px #51c8ff,
        0 0 50px #51c8ff,
        0 0 100px #51c8ff;
}

.animation-2 a:nth-child(even) {
    transform: translateY(20%);
    box-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 8px #d64fd0,
      0 0 10px #d64fd0,
      0 0 15px #d64fd0,
      0 0 25px #d64fd0,
      0 0 35px #d64fd0; 
}

.animation-2 a:nth-child(odd) {
    transform: translateY(-20%);
    box-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 8px #51c8ff,
        0 0 10px #51c8ff,
        0 0 15px #51c8ff,
        0 0 25px #51c8ff,
        0 0 35px #51c8ff;
}

#fourth-img div:first-child {
    animation: right-left-animation 40s -20s linear infinite;
}

#fourth-img div:last-child {
    animation: right-left-animation-2 40s linear infinite ;
    left: 100%;
}
  
  @keyframes right-left-animation {
    0% {
        transform: translateX(100%);
    }
  
    to {
        transform: translateX(-100%);
    }
  }

  @keyframes right-left-animation-2 {
    0% {
        transform: translateX(0);
    }
  
    to {
        transform: translateX(-200%);
    }
  }


/*end test*/

@media screen and (max-width: 900px) {

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 48%;
        position: absolute;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.7s ease-out;
        height: 75vh;
        z-index: -1;
        right: 0;
        top: 63px;
        background: rgb(0, 0, 0);
        padding: 2% 0;
    }

    .navbar_menu.active {
        transform: translateX(0);
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        border-radius: 10px;
    }

    .navbar_item {
        width: 100%;
        height: 95%;
        border-radius: 2px;
    }

    .navbar_links {
        text-align: right;
        padding: 0.8rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: rgba(83, 83, 83, 0.5);
        width: 90%;
        margin: auto;
    }

    .navbar_links_icon {
        display: inline-flex;
        height: auto;
        width: 40px;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
        border-radius: 10px;
    }

    #mobile-menu .bar:nth-child(1) {
        width: 50%;
        margin-left: 0;
    }

    #mobile-menu .bar:nth-child(3) {
        width: 50%;
        margin-right: 0;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(225deg);
        width: 100%;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-225deg);
        width: 100%;
    }

    #step-txt {
        font-size: 1rem;
    }

    .footer-ul {
        width: 90%;
    }

    .qa-content, .member-name, .qa-answear.active, .qa-answear {
        font-size: 1.2rem;
    }

    .contact-img {
    height: auto;
    width: 100%;
    }

    #talent-sec {
        width: 95%;  
    }

    .liver-background {
        min-height: 300px;
    }

    .normal-box {
        height: 80%;
    }

    #talent-no-face {
        width: 90%;
    }

    /* mobile old code*/


    #livers2 {
        transform: translateY(12%);
        margin-left: 3%;
        margin-right: 3%;
    }

    #fourth-img {
        height: 10rem;
    }

    #fourth-content {
        height: 20rem;
    }

    .about-title {
        font-size: 1rem;
    }

    #history {
        width: 95%;
    }

    #member-content-up {
        width: 95%;
    }

    #info-section {
        width: 90%;
    }

    #shozo, #contact-box-title {
        font-size: 1.8rem;
    }

    .top-button, #third-txt, .news-content-txt, .third-title-bottom, .contact-colum, .member-content-box {
        font-size: 1rem;
    }

    .third-title-up {
        font-size: 1.5rem;
    }

    #news-content {
        width: 90%;
        max-height: 190px;
    }

    .about-content {
        font-size: 0.8rem;
    }

    .fourth-liver-span {
        font-size: 0.6rem;
    }
}